.wpbooklist-library-frontend-purchase-div {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.wpbooklist-frontend-library-price {
    top: 10px;
    position: relative;
    box-shadow: none!important;
    text-decoration: none!important;
}

.wpbooklist-frontend-library-price a {
    box-shadow: none!important;
    text-decoration: none!important;
}

.wpbooklist-frontend-library-buy-img {
    top: 16px;
    position: relative;
    box-shadow: none;
    text-decoration: none;
}

.wpbooklist-library-purchase-link-styled {
    position: relative;
    bottom: 5px;
    box-shadow: none!important;
    text-decoration: none!important;
}

.wpbooklist-library-purchase-link-styled img{
    box-shadow: none!important;
    text-decoration: none!important;
}